@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Birch Std';
  src: url("fonts/BirchStd.eot");
  src: local("☺"), url("../fonts/BirchStd.woff") format("woff"), url("../fonts/BirchStd.ttf") format("truetype"), url("../fonts/BirchStd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial - Bold MT';
  src: url("fonts/arial_bold.eot");
  src: local("☺"), url("../fonts/arial_bold.woff") format("woff"), url("../fonts/arial_bold.ttf") format("truetype"), url("../fonts/arial_bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial - Italic MT';
  src: url("fonts/arial_italic.eot");
  src: local("☺"), url("../fonts/arial_italic.woff") format("woff"), url("../fonts/arial_italic.ttf") format("truetype"), url("../fonts/arial_italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial MT';
  src: url("fonts/arial_reg.eot");
  src: local("☺"), url("../fonts/arial_reg.woff") format("woff"), url("../fonts/arial_reg.ttf") format("truetype"), url("../fonts/arial_reg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: "Arial MT", "Arial - Italic MT", "Arial - Bold MT";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e8e8e8;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1000px;
  margin: 0px auto;
}

@media (max-width: 992px) {
  .container .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container .container {
    max-width: none;
  }
}

.header {
  background-color: #191919;
  min-height: 60px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-text {
  margin: 9px 0 0 0;
}

@media (max-width: 992px) {
  .header-text {
    margin: 9px 0 0 7px;
  }
}

@media (max-width: 767.98px) {
  .header-text {
    margin: 9px 0 0 7px;
  }
}

.header-text__title {
  color: #ffffff;
  font-family: "Birch Std";
  font-size: 36px;
}

.header-text__title span {
  color: #838383;
}

.header-text__title a {
  color: #ffffff;
}

.header-text__sub-title {
  color: #838383;
  font-size: 12px;
  line-height: 5px;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0;
}

.header-search__search-txt {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.21);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.21);
  border: 1px solid #4c4c4c;
  background-color: #323232;
  border-radius: 0 !important;
  color: #ffffff;
  font-family: "Birch Std";
  font-size: 15px;
  padding: 0px 10px;
  height: 27px;
  width: 350px;
  letter-spacing: 0.8px;
}

@media (max-width: 992px) {
  .header-search__search-txt {
    width: 280px;
  }
}

@media (max-width: 767.98px) {
  .header-search__search-txt {
    display: none;
  }
}

.header-search__btn {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-family: "Arial - Bold MT";
  letter-spacing: 0.6px;
  border: 1px solid #4c4c4c;
  background-color: #000000;
  margin: 0 0 0 11px;
  padding: 5px 12px 0 12px;
}

@media (max-width: 992px) {
  .header-search__btn {
    margin: 0 7px 0 11px;
  }
}

@media (max-width: 767.98px) {
  .header-search__btn {
    display: none;
  }
}

.header-search__btn:hover {
  color: #000000;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: #ffffff;
}

.header-search__btn:active {
  color: #ffffff;
  background: #000000;
}

.header-search-icon {
  display: none;
}

@media (max-width: 767.98px) {
  .header-search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    min-height: 45px;
    right: 12px;
    top: 8px;
    height: 40px;
    border-radius: 40px;
    padding: 0px 0px;
    background-color: #838383;
  }
}

@media (max-width: 767.98px) and (max-width: 424.98px) {
  .header-search-icon {
    right: 6px;
  }
}

@media (max-width: 767.98px) and (max-width: 374.98px) {
  .header-search-icon {
    right: 6px;
  }
}

.header-search-icon__btn-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: #838383;
  text-decoration: none;
}

.header-search-icon__search-txt {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: .4s;
  transition: .4s;
  line-height: 40px;
  width: 0;
}

.header-search-icon:hover .header-search-icon__search-txt {
  width: 170px;
  padding: 0 12px;
}

@media (max-width: 424.98px) {
  .header-search-icon:hover .header-search-icon__search-txt {
    width: 140px;
  }
}

@media (max-width: 374.98px) {
  .header-search-icon:hover .header-search-icon__search-txt {
    width: 110px;
    padding: 0 6px;
  }
}

.header-search-icon:hover .header-search-icon__btn-small {
  background-color: #838383;
}

.fa-search {
  color: #ffffff;
}

.wide-image {
  background-color: #000000;
}

.wide-image__body {
  position: relative;
}

.wide-image__title {
  color: #dedede;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 16px;
  width: 360px;
}

@media (max-width: 767.98px) {
  .wide-image__title {
    width: auto;
    text-align: center;
    padding: 0px 10px 0px 10px;
    bottom: 16px;
  }
  .wide-image__title br {
    display: none;
  }
}

@media (max-width: 374.98px) {
  .wide-image__title {
    padding: 0px 5px 0px 5px;
  }
}

.wide-image__bg {
  background-color: #000000;
  height: 329px;
}

.wide-image__bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;
  background: url("../img/invisible.png") no-repeat;
}

.wide-image__bg img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 100%;
  height: 100%;
}

@media (max-width: 767.98px) {
  .wide-image__bg img {
    width: auto;
  }
}

.navigation__body {
  background-color: #000000;
}

.navigation__body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .navigation__body ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation__body li {
  display: block;
  padding: 0 24px;
  border-right: 1px solid #323232;
}

@media (max-width: 992px) {
  .navigation__body li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    padding: 0;
    border-right: none;
    letter-spacing: 0.6px;
    border-right: 1px solid #323232;
  }
  .navigation__body li:hover {
    background: #838383;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
}

@media (max-width: 767.98px) {
  .navigation__body li {
    letter-spacing: normal;
  }
}

.navigation__body li a {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-family: "Arial - Bold MT";
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .navigation__body li a {
    font-family: "Arial - Italic MT";
    font-weight: 600;
  }
}

.navigation__body li a:hover {
  color: #838383;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media (max-width: 992px) {
  .navigation__body li a:hover {
    color: #ffffff;
    -webkit-transition: none;
    transition: none;
  }
}

.white-content {
  background-color: #ffffff;
  padding: 0 21px 0 12px;
}

@media (max-width: 767.98px) {
  .white-content {
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 767.98px) {
  .what {
    text-align: center;
  }
}

.what__title {
  padding: 16px 0 0 0;
  font-family: "Arial - Bold MT";
  color: #838383;
  font-size: 30px;
  line-height: 20px;
}

.what__title:first-letter {
  text-transform: uppercase;
  color: #000000;
}

.what__text {
  margin: 11px 0 3px 0;
  font-size: 13px;
  line-height: 20px;
  /* Text style for "consectetu" */
}

.what__text a {
  color: #0075d0;
  text-decoration: underline;
}

.what__text a:hover {
  color: #838383;
}

.what__text a:active {
  color: #323232;
}

.what__sub-text {
  padding: 0 0 0 22px;
  color: #838383;
  font-family: "Arial - Italic MT";
  font-size: 14px;
  line-height: 20px;
  font-style: oblique;
}

@media (max-width: 767.98px) {
  .what__sub-text {
    padding: 0;
  }
}

.oblique {
  font-style: oblique;
}

.bold {
  font-family: "Arial - Bold MT";
}

.images {
  margin: 25px 0 0 0;
}

.images__title {
  padding: 0 0 18px 0;
  color: #838383;
  font-family: "Arial - Bold MT";
  font-size: 20px;
}

.images__title:first-letter {
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 767.98px) {
  .images__title {
    text-align: center;
  }
}

.images__columns-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

@media (max-width: 992px) {
  .images__columns-body {
    padding: 0 50px 0 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.images__column {
  background: #e8e8e8;
  padding: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .images__column {
    margin: 0 0 18px 0;
  }
}

.images__column:hover {
  -webkit-transform: translate(-2px, -8px);
          transform: translate(-2px, -8px);
  -webkit-box-shadow: 4px 5px 0 rgba(66, 66, 66, 0.2);
          box-shadow: 4px 5px 0 rgba(66, 66, 66, 0.2);
}

.lists__title {
  color: #838383;
  font-family: "Arial - Bold MT";
  font-size: 20px;
  margin: 0px 0px 11px 0;
}

.lists__title:first-letter {
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 767.98px) {
  .lists__title {
    text-align: center;
  }
}

.lists__columns-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Arial MT";
  font-size: 13px;
  line-height: 20px;
}

@media (max-width: 992px) {
  .lists__columns-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .lists__columns-body {
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.lists {
  margin: 23px 0 0 0;
}

@media (max-width: 992px) {
  .lists {
    margin: 0 0 0 0;
  }
}

@media (max-width: 992px) {
  .lists__item {
    padding: 0 0 15px 0;
  }
}

.lists__item:last-child {
  margin: 0 70px 0 0;
}

@media (max-width: 992px) {
  .lists__item:last-child {
    margin: 0 0 0 0;
  }
  .lists__item:last-child:last-child {
    text-align: right;
  }
}

@media (max-width: 767.98px) {
  .lists__item:last-child:last-child {
    text-align: center;
  }
}

.point {
  margin: 0 0 0 20px;
}

@media (max-width: 767.98px) {
  .point {
    margin: 0 0 0 0;
  }
}

.point li:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
  margin: 0 10px 2px 0px;
}

@media (max-width: 992px) {
  .num {
    text-align: center;
    list-style-position: inside;
  }
}

.without {
  font-family: "Arial - Bold MT";
}

.pad {
  margin: 0 0 0 36px;
  font-family: "Arial MT";
}

.table-row {
  margin: 40px 0px 0px 0;
}

.table-row__title {
  color: #838383;
  font-family: "Arial - Bold MT";
  font-size: 20px;
  margin: 0px 0px 11px 0;
}

.table-row__title:first-letter {
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 767.98px) {
  .table-row__title {
    text-align: center;
  }
}

.table-row__body {
  overflow-x: auto;
  font-size: 13px;
  text-align: left;
}

.table-row__body table {
  border-collapse: collapse;
  width: 100%;
}

@media (max-width: 767.98px) {
  .table-row__body table {
    width: 750px;
  }
}

.table-row__body th {
  border: 1px solid #d5d5d5;
  font-family: "Arial - Bold MT";
  background: #efefef;
  padding: 10px 0px 10px 10px;
  max-width: 100%;
}

.table-row__body th:first-child {
  width: 15%;
}

.table-row__body th:nth-child(2) {
  width: 28%;
}

.table-row__body th:nth-child(3) {
  width: 34%;
}

.table-row__body th:last-child {
  width: auto;
}

.table-row__body td {
  border: 1px solid #d5d5d5;
  font-family: "Arial MT";
  padding: 8px 0 8px 10px;
}

.forms {
  padding: 24px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.forms__title {
  color: #838383;
  font-family: "Arial - Bold MT";
  font-size: 20px;
  margin: 0px 0px 14px 0;
}

.forms__title:first-letter {
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 767.98px) {
  .forms__title {
    text-align: center;
  }
}

.forms__row {
  font-family: "Arial MT";
  font-size: 12px;
  width: 304px;
}

@media (max-width: 767.98px) {
  .forms__row {
    text-align: center;
    width: 100%;
  }
}

.forms__text {
  margin: 0px 0 10px 0;
  line-height: 18px;
}

.forms__radio {
  font-size: 13px;
  margin: 0px 0 14px 0;
}

.forms__radio span {
  padding: 0px 0 0px 8px;
}

.forms__checkbox {
  padding: 10px 0 10px 0;
  font-size: 13px;
}

.forms__checkbox span {
  padding: 0px 0 0px 8px;
}

.input-type-text {
  border: 1px solid #b7b7b7;
  width: 224px;
  padding: 8px;
  color: #000000;
  font-family: "Arial MT";
  font-size: 12px;
}

.input-type-text:focus {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767.98px) {
  .input-type-text {
    width: 100%;
  }
}

.option {
  border: 1px solid #b7b7b7;
  width: 224px;
  padding: 6px;
}

.option:focus {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767.98px) {
  .option {
    width: 100%;
  }
}

.textarea {
  border: 1px solid #b7b7b7;
  resize: none;
  height: 124px;
  width: 100%;
  padding: 8px;
}

.textarea:focus {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.checkbox {
  background-color: #323232;
}

.button {
  font-family: "Arial - Bold MT";
  font-size: 14px;
  border: 2px solid #323232;
  padding: 10px 24px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .button {
    padding: 10px 40px;
  }
}

.button:hover {
  color: #ffffff;
  z-index: 2;
}

.button::before, .button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #323232;
  top: 0;
  left: -100%;
  opacity: .5;
  -webkit-transition: .35s ease-out;
  transition: .35s ease-out;
  z-index: -1;
}

.button:hover::after {
  opacity: 1;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.button:hover::before, .button:hover::after {
  left: 0;
}

.footer {
  padding: 9px 0;
  color: #656565;
  font-family: "Arial MT";
  font-size: 13px;
  color: #656565;
}

.footer a {
  text-decoration: underline;
  color: #0075d0;
}

.footer a:hover {
  color: #838383;
}

.footer a:active {
  color: #323232;
}

@media (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

.forms-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .forms-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hach {
  padding: 140px 100px 100px 100px;
  position: relative;
}

.hach__main {
  position: relative;
  z-index: 2;
  width: 100%;
}

@media (max-width: 767.98px) {
  .hach__main {
    height: 184px;
    width: 184px;
  }
}

.hach__text {
  position: absolute;
  top: 220px;
  left: 160px;
  border-radius: 30%;
  -webkit-animation: hach 5s linear infinite;
          animation: hach 5s linear infinite;
  z-index: 0;
}

@-webkit-keyframes hach {
  0% {
  }
  24% {
    z-index: 0;
  }
  25% {
    left: 305px;
    top: 160px;
    z-index: 2;
  }
  50% {
  }
  74% {
    z-index: 2;
  }
  75% {
    top: 280px;
    left: 20px;
  }
  100% {
  }
}

@keyframes hach {
  0% {
  }
  24% {
    z-index: 0;
  }
  25% {
    left: 305px;
    top: 160px;
    z-index: 2;
  }
  50% {
  }
  74% {
    z-index: 2;
  }
  75% {
    top: 280px;
    left: 20px;
  }
  100% {
  }
}
/*# sourceMappingURL=blackandwhite_final_v1.css.map */